.App {
  text-align: center;
}

.page {
  display: flex;
  justify-content: space-between;
}

.sideBar {
  position: sticky;
  top: 0px;
  width: calc((100vw - 800px)*0.45);
  border-right: 1px solid rgb(63, 63, 63);
  color: white;
  height: 100vh;
}

.rightBar {
  position: sticky;
  top: 0px;
  width: calc((100vw - 800px)*0.55);
  border-left: 1px solid rgb(63, 63, 63);
  color: white;
  height: 100vh;
}

.mainWindow {
  width: 800px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logout:hover {
  color:gray;
  font-weight: bold;
  cursor: pointer;
}

.loginPage {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}
